@import url(//fonts.googleapis.com/css?family=Oswald:700);

body     {
    background:#231F20;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

h1 {
    color: seashell;
    text-transform:uppercase;
    /* padding-left: 3px;
    padding-right: 3px; */
}
  
h1::before {
    content: '';
    background:#4A90E2;
    display: inline-block;
    width: 15px;
    height: 23px;
    border-radius: 50px 0px 0px 50px;
    /* left: inherit;
    top: inherit; */
}

h1::after {
    content: '';
    background:#4A90E2;
    display: inline-block;
    width: 15px;
    height: 23px;
    border-radius: 0px 50px 50px 0px;
    /* left: inherit;
    top: inherit; */
}